.header {
  font-family: var(--font-family-headings);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-block: 1rem;
  backdrop-filter: blur(8px);
  z-index: 999;
}

.header .container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav {
  display: none;
}

.nav__list {
  display: none;
  align-items: center;
  gap: 2rem;
}

.nav__link {
  color: var(--color-gray);
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: var(--color-blue);
}

.header__cart {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

.cart__price {
  color: var(--color-blue);
  font-weight: 600;
}

.cart__wrapper {
  position: relative;
}

.cart,
.menu {
  color: var(--color-blue);
  font-size: var(--size-xl);
  cursor: pointer;
}

.menu__icon {
  display: inline-block;
}

.item-count {
  position: absolute;
  top: -5px;
  right: -8px;
  background-color: var(--color-blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 0.3rem;
}

#item-count {
  font-size: var(--size-xs);
  font-weight: 500;
  color: var(--color-white);
}

/* Mobile Navigation */
.mobile-nav {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  width: 100%;
  padding-block: 1rem;
  background-color: var(--color-blue-light);
  z-index: 9999;
  transition: all 0.3 ease;
}

.mobile__list {
  padding-inline: 0;
}

.mobile__links {
  color: var(--color-gray);
  font-size: var(--size-sm);
  padding-left: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.mobile__li {
  border-bottom: 1px solid rgba(58, 58, 58, 0.2);
  padding-bottom: 0.5rem;
}

.mobile__links:hover {
  color: var(--color-blue);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav__list {
    display: flex;
  }

  .menu__icon {
    display: none;
  }

  .nav {
    display: block;
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
