.offer__content,
.offer__content-second {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  place-items: center;
}

.offer__content-second {
  margin-top: 2rem;
}

.offer__col {
  height: 100%;
}

.offer__col img {
  height: 100%;
}

.offer__col-wide {
  order: 2;
  padding: 3rem;
  background-image: url("/white-wall.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
}

.offer__subhead {
  font-family: var(--font-family-headings);
  color: rgb(15, 23, 42);
  font-weight: 500;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .offer__content {
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    place-items: start;
  }

  .offer__content-second {
    grid-template-columns: 2fr 1fr;
  }

  .offer__col-second {
    order: 2;
  }

  .offer__col-wide {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
