@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* font family */
  --font-family-headings: "Poppins", sans-serif;
  --font-family-text: "Lato", sans-serif;

  /* colors */
  --color-white: rgb(255, 255, 255)
  --color-dark-blue: rgb(15, 23, 42);
  --color-gray: rgb(58, 58, 58);
  --color-gray-100: rgb(69, 79, 94);
  --color-rose: rgb(167, 16, 82);
  --color-blue: rgb(58, 166, 185);
  --color-border: rgb(221, 221, 221);
  --color-blue-light: rgb(233, 248, 249);

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: var(--color-gray);
}

body {
  font-family: var(--font-family-text);
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}