/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Button */
.btn {
  font-family: var(--font-family-headings);
  display: inline-block;
  border: 2px solid rgb(15, 23, 42);
  font-size: var(--size-sm);
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
  color: var(--color-dark-blue);
  padding: 1em 2em;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: rgb(15, 23, 42);
  color: rgb(255, 255, 255);
  transform: translateY(-3px);
}

.section-gap {
  padding-top: 4rem;
}

.grid-4-cols {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

/* Card */
.card {
  position: relative;
  overflow: hidden;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.card__img {
  cursor: pointer;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.card__img:hover {
  transform: rotateX(5deg) rotateY(5deg) scale(1.05);
}

.card__text {
  padding-inline: 1rem;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .grid-4-cols {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .grid-4-cols {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
